*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


body{
	width: 100%;
	height: 100%;
	font-family: 'Avenir', 'Open Sans', sans-serif;
	background: #191f2d; /* For browsers that do not support gradients */    
	background: -webkit-linear-gradient(left top, #BDC3C7, #3F4C6B); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #BDC3C7, #3F4C6B); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #BDC3C7, #3F4C6B); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #BDC3C7, #3F4C6B); /* Standard syntax (must be last) */

}

#main-container{
	width: 100%;
	height: 100%;
}

#step2 {
	display: none;
}

img	{
	width: 100%;
}

/*----------Fonts----------*/

@font-face{
	font-family: BEBAS;
	src: url(../fonts/BEBAS.ttf);
}

/*----------Splash Page----------*/

#splashpage{
	width: 100%;
	height: 100vh;
	background-image: url(../img/splashpage.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

#tourism-logo{
	position: absolute;
	width: 200px;
	margin: 0 auto;
	top: 40%;
	left: 0px;
	right: 0px;
}

#down-arrow{
	width: 100%;
	position: absolute;
	margin: 0 auto;
	text-align: center;
	bottom: 10%; 	
}

.bottom:hover{
	-webkit-transition: transform 0.3s ease, opacity 1.0s ease;	
	transform: translate(0,5px);
	cursor: pointer;
}

.bottom{
	display: inline-block;
	width: 70px;
	height: 70px;
	border: 3px solid #fff;
	border-radius: 50%;
}

.bottom:after{
	content: '';
	display: inline-block;
	margin-top: 14px;
	width: 1.4em;
	height: 1.4em;
	border-top: 5px solid #fff;
	border-right: 5px solid #fff;
	-moz-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
}

.details-container{
	width: 100%;
}

.details{
	width: 100%;
	padding-bottom: 20px;
	padding-top: 20px;
	background-color: #191f2d;
	color: white;
	text-align: center;
	font-family: 'Avenir', 'Open Sans', sans-serif;
}
.vehicle-details{
	padding-bottom: 20px;
	padding-top: 20px;
	background-color: #191f2d;
	color: white;
	text-align: center;
}


/*----------Form----------*/

#validation{
	font-family: BEBAS;
	margin-top: 20px;
	padding-left: 12px;

}

.col-4{
	width: 40%;
	float: right;
}
.col-6{
	width: 50%;
	float: right;
	display: -webkit-block;
}
.col-8{
	width: 60%;
	float: left;
}
.col-12{
	width: 100%;
	display: table;
}

.form-container{
	padding-bottom: 30px;
	color: #191f2d;
}

.input{
	padding-top: 5px;
}


input{
	padding: 10px;
	width: 250px;
	color: #b5bdce;
	background-color: transparent;
	font-size: 12px;
	border-radius: 10px;
	border: 2px solid #4f5b77;
	box-shadow : 2px 1px 6px #2c3033;
	margin-bottom: 10px;
}
input:focus{
	border-color: #b5bdce;
	outline: none;
}

.row{
	width: 100%;
	display: table;

}

.error{
	color: #920b0b;
	font-family: 'Avenir', 'Open Sans', sans-serif;
	padding-left: 22px;
}


.fa{
	padding-right: 10px;
	color: #191f2d;
}

.fa:hover{
	-webkit-transition: color 0.3s ease, transform 0.3s ease, opacity 1.0s ease;	
	color: #b5bdce;
}

label{
	padding-left: 25px;
}
/*----------Transport Options----------*/

#motorbike{
	width: 55px;
	padding-top: 47px; 
	cursor: pointer;
}

#motorbike:hover, #small-car:hover, #large-car:hover, #motor-home:hover{
	-webkit-transition: transform 0.3s ease, opacity 1.0s ease;	
	transform: translate(0,-5px);
}

#small-car{
	width: 90px;
	padding-top: 40px;
	cursor: pointer;
}

#large-car{
	width: 110px;
	padding-top: 31px;
	cursor: pointer;
}

#motor-home{
	width: 119px;
	padding-top: 14px;
	cursor: pointer;
}

#transport-options{
	overflow: hidden;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 20px;
}

.img-size{
	padding-left: 5px;
	padding-right: 5px;
	position: relative;
	display: inline-block;
}

.transport-title{
	font-family: BEBAS;
	color: #191f2d;
	text-align: center;
	margin-bottom: 20px;
}

.transport-images{
	width: 100%;
	text-align: center;
	margin: 0 auto;
}

.bike-image{
	float: right;
	width: 70%;
}
.motor-home-image{
	float: right;
	width: 85%;
}

/*----------Google Maps----------*/

#map{
	height: 400px;
}

.controls {
	width: 250px;
	font-size: 15px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	border-radius: 10px;
	border: 2px solid #fff;
}


#origin-input, #destination-input {
	background-color: transparent;
	color: #b5bdce;
	font-family: 'Avenir', 'Open Sans', sans-serif;
	font-size: 12px;
	text-overflow: ellipsis;
	padding: 20px;
	border: 2px solid #4f5b77;
	box-shadow : 2px 1px 6px #2c3033;
}

#origin-input:focus, #destination-input:focus {
	border-color: #b5bdce;
	color: #b5bdce;
	font-size: 12px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #b5bdce;
	font-size: 12px;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #b5bdce;
	font-size: 12px;
} 
:-ms-input-placeholder { /* IE 10+ */
	color: #b5bdce;
	font-size: 12px;
}
:-moz-placeholder { /* Firefox 18- */
	color: #b5bdce;
	font-size: 12px;
}


/*----------Info----------*/

.info{
	padding-left: 1em;
	padding-right: 1em;
	display: inline-block;
	margin: 0 auto;
	border-right: 1px solid #fff;
	margin-top: 15px;
	position: relative;
	top: 50%;
	/*transform: translateY(-50%);*/
}

.text{
	font-size: 25px;
}

.title{
	padding-bottom: 20px;
	text-align: center;
}

/*----------Transport Details----------*/

.transport-image{
	padding-right: 10px;
	display: inline-block;
	width: 20%;
	font-size: 12px;
	text-align: initial;
	margin-right: 10px;

}

/*----------Swiper----------*/

.swiper-button-prev{
	margin-left: 6em;
}
.swiper-button-next{
	margin-right: 6em;
}

/*----------Footer----------*/

.footer {
	height: 60px;
	margin-top: 50px;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 2.5rem;
	background-color: #191f2d;
	text-align: center;
	font-size: 10px;
	color: #a8a8a8;
}
.footer-text:hover {
	color: #fff;
	-webkit-transition: color 1s, opacity 1.0s ease;
}

/*----------Media Queries----------*/

/*When the screen width is 1024px then run this*/
@media only screen and (min-width: 1024px){
	input{
		width: 300px;
	}
	#validation{
		padding-left: 40px;
	}
	#origin-input{
		width: 300px;
	}
	#destination-input{
		width: 300px;
	}
	.transport-image{
		font-size: 16px;
	}
	.fa-child{
		font-size: 20px;
	}
	.fa-location-arrow{
		font-size: 18px;
	}

}

@media only screen and (min-width: 1200px){
	.col-4{
		width: 30%;
	}
	.col-8{
		width: 70%;
	}
	#map{
		height: 650px;
	}
	#validation{
		margin-top: 150px;
		padding-left: 50px;
	}
	.transport-image{
		font-size: 20px;
	}
}

@media only screen and (min-width: 1680px){
	.col-4{
		width: 30%;
	}
	.col-8{
		width: 70%;
	}
	#map{
		height: 650px;
	}
	#validation{
		margin-top: 150px;
		padding-left: 85px;
	}
	.transport-image{
		font-size: 26px;
	}
}











