*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


body{
	width: 100%;
	height: 100%;
	font-family: 'Avenir', 'Open Sans', sans-serif;
	background: #191f2d; /* For browsers that do not support gradients */    
	background: -webkit-linear-gradient(left top, #BDC3C7, #3F4C6B); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #BDC3C7, #3F4C6B); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #BDC3C7, #3F4C6B); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #BDC3C7, #3F4C6B); /* Standard syntax (must be last) */

}

#main-container{
	width: 100%;
	height: 100%;
}

img	{
	width: 100%;
}

/*----------Fonts----------*/

@font-face{
	font-family: BEBAS;
	src: url(../fonts/BEBAS.ttf);
}

/*----------Splash Page----------*/

#splashpage{
	width: 100%;
	height: 100vh;
	background-image: url(../img/splashpage.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

#tourism-logo{
	position: absolute;
	width: 200px;
	margin: 0 auto;
	top: 40%;
	left: 0px;
	right: 0px;
}

#down-arrow{
	width: 100%;
	position: absolute;
	margin: 0 auto;
	text-align: center;
	bottom: 10%; 	
}

.bottom:hover{
	-webkit-transition: transform 0.3s ease, opacity 1.0s ease;	
	transform: translate(0,5px);
	cursor: pointer;
}

.bottom{
	display: inline-block;
	width: 70px;
	height: 70px;
	border: 3px solid #fff;
	border-radius: 50%;
}

.bottom:after{
	content: '';
	display: inline-block;
	margin-top: 14px;
	width: 1.4em;
	height: 1.4em;
	border-top: 5px solid #fff;
	border-right: 5px solid #fff;
	-moz-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
}

.container{
	width: 100%;
}

.details{
	width: 100%;
	height: 150px;
	background-color: #191f2d;
}


/*----------Form----------*/

#validation{
	font-family: BEBAS;
	margin-top: 20px;
	padding-left: 30px;

}

.col-4{
	width: 40%;
	float: right;
}
.col-8{
	width: 60%;
	float: left;
}
.col-12{
	width: 100%;
	display: table;
}

.form-container{
	padding-bottom: 30px;
	color: #191f2d;
}

.input{
	padding-top: 5px;
}

input{
	padding: 10px;
	width: 250px;
	color: white;
	background-color: transparent;
	font-size: 15px;
	border-radius: 10px;
	border: 1px solid #fff;
}

.row{
	width: 100%;
	display: table;

}

.error{
	color: #a94442;
	font-family: 'Avenir', 'Open Sans', sans-serif;
}


/*----------Transport Options----------*/

.motorbike{
	width: 55px;
	padding-top: 47px;
}

.small-car{
	width: 90px;
	padding-top: 40px;
	
}

.medium-car{
	width: 110px;
	padding-top: 31px;
	
}

.motor-home{
	width: 119px;
	padding-top: 14px;
}

#transport-options{
	overflow: hidden;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 20px;
}

.img-size{
	padding-left: 5px;
	padding-right: 5px;
	position: relative;
	display: inline-block;
}

.transport-title{
	font-family: BEBAS;
	color: #191f2d;
	text-align: center;
	margin-bottom: 20px;
}

.transport-images{
	width: 100%;
	text-align: center;
	margin: 0 auto;
}

/*----------Google Maps----------*/

#map{
	height: 400px;
}


/*----------Media Queries----------*/

/*When the screen width is 1024px then run this*/
@media only screen and (min-width: 1024px){
	input{
		width: 300px;
	}
	#validation{
		padding-left: 50px;
	}

}
@media only screen and (min-width: 1200px){
	.col-4{
		width: 30%;
	}
	.col-8{
		width: 70%;
	}
	#map{
		height: 650px;
	}
	#validation{
		margin-top: 150px;
		padding-left: 50px;
	}
}

@media only screen and (min-width: 1680px){
	.col-4{
		width: 30%;
	}
	.col-8{
		width: 70%;
	}
	#map{
		height: 650px;
	}
	#validation{
		margin-top: 150px;
		padding-left: 105px;
	}
}











